.root{
    -fx-background-color: #000000;
    -fx-background-size: 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.label{
    -fx-text-fill: #FFFFFF;
    -fx-border-color: transparent;
}

.button{
    -fx-text-fill: #FFD700;
    -fx-border-color: transparent;
    -fx-background-color: #262626;
    -fx-opacity: .85;
}

.labelButton{
    -fx-text-fill: #000000;
    -fx-border-color: transparent;
}